@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
* {
  font-family: "Roboto", sans-serif !important;
}
body,
html {
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif !important;
}

.ui.secondary.menu.navbar-background {
  background-color: #fff;
}
.right.menu.a-navbar a {
  font-size: 19px;
  color: #333;
}
.ui.menu {
  margin: 0px !important;
}
.left.menu.h1-navbar h1 {
  font-size: 50px;
  color: white;
  margin-left: 20px;
}
.ui.image.section-banner {
  /* margin-top: -14px; */
  width: 100%;
}
.ui.center.aligned.header.margin-top-h1-section2 {
  /* margin-top: 15px; */
  padding-top: 50px !important;
  padding-bottom: 100px !important;
  font-size: 50px !important;
  font-weight: 600 !important;
  letter-spacing: 3px;
}
.margin-top-img-section2 {
  margin-top: 100px;
  margin-bottom: 80px;
  height: auto;
  width: 16%;
}

.table-font-size h3 {
  color: black;
  margin-bottom: 4px;
}
.table-font-size {
  font-size: 19px;
  color: grey;
}
.ui.button.button-margin-top-section3 {
  margin-top: 20rem !important;
}

/* footer */

.footerBack {
  background-color: #fff;
  padding: 40px;
  margin-top: 40px;
}

.footerBack p {
  font-weight: 100;
  color: #333;
  margin-top: 12px;
  /* font-size: 20px !important; */
}
p {
  font-size: 20px !important;
}

.privacy a {
  color: #aeaeae !important;
  margin-left: 20px;
}
.motorbike {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid #ecf0f1;
}
.motorbike1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
}
.motorbike-color-black {
  background-color: #0a0a0a;
}
.motorbike-color-white {
  background-color: #fff;
}
.motorbike-color-blue {
  background-color: #0078d7;
}
.motorbike-color-orange {
  background-color: #ffa500;
}
.motorbike-color-green {
  background-color: #228b22;
}
.banner-section1 {
  /* background-image: url("../image/PhotoDeborah.jpg"); */
  /* background: url("../image/PhotoDeborah.jpg") no-repeat center center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 50vw;
  -webkit-background-size: cover; */
}
.section2 {
  position: relative;
}

.button-center-left {
  position: absolute;
  top: 50%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  width: 80%;
  padding: 15px 0px !important;
  border-radius: 15px !important;
}
.button-center-right {
  position: absolute;
  top: 50%;
  right: 0%;
  /* transform: translate(50%, -50%); */
  width: 80%;
  padding: 15px 0px !important;
  border-radius: 15px !important;
}
.motorPadding {
  padding: 8% 15%;
}
.ui.fade.animated.button .hidden.content i {
  font-size: 22px;
}
.buyNow {
  /* text-align: center !important; */
  margin: 0px !important;
  color: #fff !important;
}
.featureTitle {
  font-size: 24px !important;
  font-weight: bold;
  margin: 0px !important;
}
.featureDesc {
  margin: 0px !important;
}
.section3 {
  background-color: #f4f4f4;
  padding: 100px 0px;
}
.warranty-container {
  width: 40% !important;
  padding: 10% 0px;
}
.footer-icons {
  font-size: 22px !important;
  color: #fff;
  background-color: #898989;
  padding: 10px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 20px;
}
.logoImage {
  height: 50px !important;
  width: auto !important;
}
.warranty {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  letter-spacing: 4px;
}
.column a {
  color: #0a0a0a;
}
input[type="radio"] {
  height: 16px;
  padding: 0 0 0 18px;
}

@media only screen and (max-width: 1200px) {
  .top-h1-section2 {
    font-size: 35px !important;
  }
}

@media only screen and (max-width: 979px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 480px) {
  .motorColorName {
    display: none !important;
  }
  .btnBuySm {
    width: 100% !important;
  }
  .ui.center.aligned.header.margin-top-h1-section2 {
    margin-top: 0px;
    padding-top: 20px !important;
    padding-bottom: 50px !important;
    font-size: 28px !important;
    font-weight: 600 !important;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 320px) {
  .motorColorName {
    display: none !important ;
  }
}
